<body data-ix="body-on-load" class="body">
  <div class="nav-wrapper--touch w-hidden-main">
    <div data-collapse="medium" data-animation="over-right" data-duration="600" class="nav w-nav" data-ix="fade-effect-2">
      <div class="nav--shadow" data-ix="fade-effect-2">
      </div>
      <a href="/" class="brand-2 w-hidden-medium w-hidden-small w-hidden-tiny w-nav-brand">
        <div class="headertagline w-clearfix">
          <h1 class="heading-2">The Recovery Unit</h1>
          <h4 class="heading">Repossessions &amp; Recovery Software Solutions</h4>
        </div>
        <div class="div-block">
        </div>
        <img src="http://uploads.webflow.com/5a15d29e58352800010ead96/5a555ab3392c67000185b85c_5a15f39045a0eb000184f806_000574-Design-Free-Abstract-Logo-Templates-02%5B2%5D.png" class="img--logo"/>
      </a>
      <a href="/" class="brand--touch w-hidden-main w-nav-brand">
        <img src="http://uploads.webflow.com/5a15d29e58352800010ead96/5a555ab3392c67000185b85c_5a15f39045a0eb000184f806_000574-Design-Free-Abstract-Logo-Templates-02%5B2%5D.png" class="img--logo"/>
      </a>
      <nav role="navigation" class="navmenu-2 w-nav-menu">
        <div class="scroll-menu">
          <a href="#" class="eye-container w-inline-block">
            <img src="http://uploads.webflow.com/5a15d29e58352800010ead96/5a15d29e58352800010eae13_%5Bautoentry%5Dlogo.svg" class="eye"/>
          </a>
            <%= link_to "Authors", "#", class: "navlink-2 w-nav-link" %>
          <% if user_signed_in? %>  
            <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "navlink-2 w-nav-link" %>

          <% else %>  
            <%= link_to "Sign up", new_user_registration_path, class: "navlink-2 w-nav-link" %></li>
            <%= link_to "Sign in", new_user_session_path, class: "navlink-2 w-nav-link" %>
          <% end %>
          <a href="/integrate-seamlessly" class="navlink-2 w-nav-link">Integrations</a>
          <a href="/mobile-app" class="navlink-2 w-nav-link">Mobile App</a>
            <div data-delay="0" class="dropdown-button w-dropdown">
              <div class="dropdown w-dropdown-toggle">
                <div class="ico--dropdown w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-icon-dropdown-toggle">
                </div>
                <div>More</div>
              </div>
              <nav class="dropdown-list w-dropdown-list">
                <a href="/webinars" class="navlink--dropdown w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-dropdown-link">Webinar</a>
                <a href="/contact-us" class="navlink--dropdown w-dropdown-link">Contact Us</a>
                <a href="/inquiry/registration" class="navlink--dropdown w-dropdown-link">Get an Inquiry</a>
                <a href="/blog" class="navlink--dropdown w-dropdown-link">Blog</a>
              </nav>
            </div>
          </div>
        <a href="#" class="menu--close w-hidden-main w-inline-block">
          <div class="menu-icon--line-close anti-clockwise w-hidden-main">
          </div>
          <div class="menu-icon--line-close clockwise w-hidden-main">
          </div>
         </a>
      </nav>
      <div class="menu-btn w-nav-button">
        <div class="menu-icon w-icon-nav-menu"></div>
        <div class="menu-icon--line"></div>
        <div class="menu-icon--line"></div>
        <div class="menu-icon--line"></div>
      </div>
    </div>
  </div>
  <div data-ix="show-nav-bar-on-load" class="nav-wrapper">
    <div data-collapse="medium" data-animation="over-right" data-duration="600" class="nav w-nav" data-ix="fade-effect-2">
      <div class="nav--shadow" data-ix="fade-effect-2"></div>
      <a href="/" class="brand-2 w-hidden-medium w-hidden-small w-hidden-tiny w-nav-brand">
        <div class="headertagline w-clearfix">
          <h1 class="heading-2">The Recovery Unit</h1>
          <h4 class="heading">Repossessions &amp; Recovery Software Solutions</h4>
        </div>
        <div class="div-block"></div>
          <img src="http://uploads.webflow.com/5a15d29e58352800010ead96/5a555ab3392c67000185b85c_5a15f39045a0eb000184f806_000574-Design-Free-Abstract-Logo-Templates-02%5B2%5D.png" class="img--logo"/>
      </a>
      <a href="/" class="brand--touch w-hidden-main w-nav-brand">
        <img src="http://uploads.webflow.com/5a15d29e58352800010ead96/5a555ab3392c67000185b85c_5a15f39045a0eb000184f806_000574-Design-Free-Abstract-Logo-Templates-02%5B2%5D.png" class="img--logo"/>
      </a>
      <nav role="navigation" class="navmenu-2 w-nav-menu">
        <div class="scroll-menu">
          <a href="#" class="eye-container w-inline-block">
            <img src="http://uploads.webflow.com/5a15d29e58352800010ead96/5a15d29e58352800010eae13_%5Bautoentry%5Dlogo.svg" class="eye"/>
          </a>
            <%= link_to "Authors", "#", class: "navlink-2 w-nav-link" %>
          <% if user_signed_in? %>  
            <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "navlink-2 w-nav-link" %>

          <% else %>  
            <%= link_to "Sign up", new_user_registration_path, class: "navlink-2 w-nav-link" %></li>
            <%= link_to "Sign in", new_user_session_path, class: "navlink-2 w-nav-link" %>
          <% end %>
          <div data-delay="0" class="dropdown-button w-dropdown">
            <div class="dropdown w-dropdown-toggle">
              <div class="ico--dropdown w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-icon-dropdown-toggle"></div>
              <div>More</div>
            </div>
            <nav class="dropdown-list w-dropdown-list">
              <a href="/webinars" class="navlink--dropdown w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-dropdown-link">Webinar</a>
              <a href="/contact-us" class="navlink--dropdown w-dropdown-link">Contact Us</a>
              <a href="/inquiry/registration" class="navlink--dropdown w-dropdown-link">Get an Inquiry</a>
              <a href="/blog" class="navlink--dropdown w-dropdown-link">Blog</a>
            </nav>
          </div>
        </div>
        <a href="#" class="menu--close w-hidden-main w-inline-block">
          <div class="menu-icon--line-close anti-clockwise w-hidden-main"></div>
          <div class="menu-icon--line-close clockwise w-hidden-main"></div>
        </a>
      </nav>
      <div class="menu-btn w-nav-button">
        <div class="menu-icon w-icon-nav-menu"></div>
        <div class="menu-icon--line"></div>
        <div class="menu-icon--line"></div>
        <div class="menu-icon--line"></div>
      </div>
    </div>
  </div>
